body {
    background-color: #23242b;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.game-area {
    background-color: #2d2e37;
    border-radius: 12px;
    min-height: 200px;
}

.area-title {
    color: #b166b1;
    font-weight: 600;
    margin-bottom: 1rem;
}

.courts-container {
    gap: 20px;
}

.court-block {
    background-color: #3a3b44;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-width: 3000px; */
    min-width: 180px;
}

.court-label {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.court-sides {
    display: flex;
    width: 100%;
    flex-flow:column;
    justify-content: space-between;
    /* padding-top: 0.5rem; */
}

.court-side {
    /* width: 48%; */
    width: 100%;
    min-height: 100px;
    background-color: #1a7585;
    /* border-radius:8px; */
    padding: 0.5rem;
    border: 1px solid darkgrey;
}

.next-game-btn {
    background-color: #256eff;
    border: none;
    /* border-radius: 10px; */
    border-radius: 5px;
    margin-top: 1rem;
    width: 100%;
}

.player-container {
    gap: 10px;
    min-height: 100px; /* Ensures the container is always a valid drop target */
}

.player-block {
    padding: 10px 15px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: grab;
    margin-bottom: 4px;
}

.player-block.expert { background-color: #962922; }
.player-block.advanced { background-color: #F9A825; }
.player-block.intermediate { background-color: #0277BD; }
.player-block.entry { background-color: #6f9e24; }

.player-block.resting {
    background-color: #6c757d; /* Bootstrap secondary grey */
    color: #fff;
}


.games-played {
    font-weight: bold;
}

.player-block.dragging {
    opacity: 0.5;
}

.drag-over {
    background-color: #4a4b54;
    border: 2px dashed #256eff;
}

.highlight-text {
    font-weight: bold; 
    color: #80d3d9;
}